node-red-contrib-mcp-tools/examples/flow.json
[
    {
        "id": "a8a28b0cd7891452",
        "type": "comment",
        "z": "add2fb3d3da878db",
        "name": "Readme (Click here)",
        "info": "## README (double-click here)\n\nFeel free to delete these flows — they are just examples.\n\nIf you're using Railway or another cloud provider, just paste the URL of the Node-RED MCP server **without the port**.\n\n**Example:**\n\nMCP HOST URL: https://name-mcp-server.up.railway.app\n\n",
        "x": 110,
        "y": 100,
        "wires": []
    },
    {
        "id": "da382eafdce47681",
        "type": "group",
        "z": "add2fb3d3da878db",
        "name": "Internal MCP Example",
        "style": {
            "label": true
        },
        "nodes": [
            "2aebae765c66249f",
            "46aecd174edb19f9",
            "67126c379f936438",
            "863d1fb94f8132a9",
            "d04f8a5861577323",
            "63817772837130d6",
            "60c4c6d2af265a8e"
        ],
        "x": 14,
        "y": 139,
        "w": 692,
        "h": 262
    },
    {
        "id": "2aebae765c66249f",
        "type": "inject",
        "z": "add2fb3d3da878db",
        "g": "da382eafdce47681",
        "name": "Hello World Test",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "show hello world message",
        "payloadType": "str",
        "x": 140,
        "y": 240,
        "wires": [
            [
                "60c4c6d2af265a8e"
            ]
        ]
    },
    {
        "id": "46aecd174edb19f9",
        "type": "inject",
        "z": "add2fb3d3da878db",
        "g": "da382eafdce47681",
        "name": "List Tools",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Which tools are available and what can you do? ",
        "payloadType": "str",
        "x": 120,
        "y": 180,
        "wires": [
            [
                "60c4c6d2af265a8e"
            ]
        ]
    },
    {
        "id": "67126c379f936438",
        "type": "debug",
        "z": "add2fb3d3da878db",
        "g": "da382eafdce47681",
        "name": "Response",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 200,
        "wires": []
    },
    {
        "id": "863d1fb94f8132a9",
        "type": "debug",
        "z": "add2fb3d3da878db",
        "g": "da382eafdce47681",
        "name": "MCP Details",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "mcpResult",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 280,
        "wires": []
    },
    {
        "id": "d04f8a5861577323",
        "type": "inject",
        "z": "add2fb3d3da878db",
        "g": "da382eafdce47681",
        "name": "Local Time",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Tell the time in São Paulo",
        "payloadType": "str",
        "x": 120,
        "y": 300,
        "wires": [
            [
                "60c4c6d2af265a8e"
            ]
        ]
    },
    {
        "id": "63817772837130d6",
        "type": "inject",
        "z": "add2fb3d3da878db",
        "g": "da382eafdce47681",
        "name": "Weather",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "What is the weather in São Paulo?",
        "payloadType": "str",
        "x": 120,
        "y": 360,
        "wires": [
            [
                "60c4c6d2af265a8e"
            ]
        ]
    },
    {
        "id": "60c4c6d2af265a8e",
        "type": "mcp-tools",
        "z": "add2fb3d3da878db",
        "g": "da382eafdce47681",
        "name": "mcp-tools NodeJS",
        "serverUrl": "http://mcp-host:3000",
        "prompt": "",
        "apiKey": "{{OPENAI_API_KEY}}",
        "mcpServers": "{\n  \"mcpServers\": {\n    \"internalTest\": {\n      \"command\": \"node\",\n      \"args\": [\n        \"mcp-server/v1/build/index.js\"\n      ]\n    }\n  }\n}",
        "mcpServerEnvs": "",
        "sessionId": "example_02_nodejs",
        "timeout": 30000,
        "x": 390,
        "y": 240,
        "wires": [
            [
                "67126c379f936438",
                "863d1fb94f8132a9"
            ]
        ]
    },
    {
        "id": "ad6f87565d35de39",
        "type": "group",
        "z": "add2fb3d3da878db",
        "name": "Remote MCP Exa Search Example",
        "style": {
            "label": true
        },
        "nodes": [
            "24a9f6c6010c2128",
            "1be09b3a241d1c0f",
            "8c7f43f4b7f55a29",
            "cd79eab7bf1a688d",
            "84580a7095f76f2f"
        ],
        "x": 14,
        "y": 459,
        "w": 692,
        "h": 202
    },
    {
        "id": "24a9f6c6010c2128",
        "type": "inject",
        "z": "add2fb3d3da878db",
        "g": "ad6f87565d35de39",
        "name": "Search Web",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "The latest news about Brazilian football and Corinthians",
        "payloadType": "str",
        "x": 130,
        "y": 580,
        "wires": [
            [
                "cd79eab7bf1a688d"
            ]
        ]
    },
    {
        "id": "1be09b3a241d1c0f",
        "type": "debug",
        "z": "add2fb3d3da878db",
        "g": "ad6f87565d35de39",
        "name": "Response",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 540,
        "wires": []
    },
    {
        "id": "8c7f43f4b7f55a29",
        "type": "debug",
        "z": "add2fb3d3da878db",
        "g": "ad6f87565d35de39",
        "name": "MCP Details",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "mcpResult",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 620,
        "wires": []
    },
    {
        "id": "cd79eab7bf1a688d",
        "type": "mcp-tools",
        "z": "add2fb3d3da878db",
        "g": "ad6f87565d35de39",
        "name": "mcp-tools NodeJS",
        "serverUrl": "http://mcp-host:3000",
        "prompt": "",
        "apiKey": "{{OPENAI_API_KEY}}",
        "mcpServers": "{\n  \"mcpServers\": {\n    \"exa\": {\n      \"command\": \"npx\",\n      \"args\": [\n        \"-y\",\n        \"@smithery/cli@latest\",\n        \"run\",\n        \"exa\",\n        \"--key\",\n        \"{{SMITHERY_KEY}}\",\n        \"--profile\",\n        \"{{SMITHERY_PROFILE}}\"\n      ]\n    }\n  }\n}",
        "mcpServerEnvs": "",
        "sessionId": "example_02_nodejs",
        "timeout": 30000,
        "x": 370,
        "y": 580,
        "wires": [
            [
                "1be09b3a241d1c0f",
                "8c7f43f4b7f55a29"
            ]
        ]
    },
    {
        "id": "84580a7095f76f2f",
        "type": "inject",
        "z": "add2fb3d3da878db",
        "g": "ad6f87565d35de39",
        "name": "List Tools",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "What can you do?",
        "payloadType": "str",
        "x": 120,
        "y": 500,
        "wires": [
            [
                "cd79eab7bf1a688d"
            ]
        ]
    },
    {
        "id": "96b2d8d0396e080c",
        "type": "group",
        "z": "add2fb3d3da878db",
        "name": "Multiple MCP Servers",
        "style": {
            "label": true
        },
        "nodes": [
            "32faa8fd6cc75937",
            "657091541f410824",
            "ec8c980573ddaa26",
            "ee19162aa7cb17d1",
            "4633158e04d6378d",
            "cd3dd493cb8daa0a",
            "633e547c7935f356",
            "672b1ecd7383b906",
            "dedecc77b3b90893",
            "53b3413b43c73c19"
        ],
        "x": 14,
        "y": 779,
        "w": 712,
        "h": 422
    },
    {
        "id": "32faa8fd6cc75937",
        "type": "inject",
        "z": "add2fb3d3da878db",
        "g": "96b2d8d0396e080c",
        "name": "Search Web",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "The latest news about Brazilian football and Corinthians",
        "payloadType": "str",
        "x": 130,
        "y": 920,
        "wires": [
            [
                "ee19162aa7cb17d1"
            ]
        ]
    },
    {
        "id": "657091541f410824",
        "type": "debug",
        "z": "add2fb3d3da878db",
        "g": "96b2d8d0396e080c",
        "name": "Response",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 860,
        "wires": []
    },
    {
        "id": "ec8c980573ddaa26",
        "type": "debug",
        "z": "add2fb3d3da878db",
        "g": "96b2d8d0396e080c",
        "name": "MCP Details",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "mcpResult",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 940,
        "wires": []
    },
    {
        "id": "ee19162aa7cb17d1",
        "type": "mcp-tools",
        "z": "add2fb3d3da878db",
        "g": "96b2d8d0396e080c",
        "name": "mcp-tools NodeJS",
        "serverUrl": "http://mcp-host:3000",
        "prompt": "",
        "apiKey": "{{OPENAI_API_KEY}}",
        "mcpServers": "{\n  \"mcpServers\": {\n    \"exa\": {\n      \"command\": \"npx\",\n      \"args\": [\n        \"-y\",\n        \"@smithery/cli@latest\",\n        \"run\",\n        \"exa\",\n        \"--key\",\n        \"{{SMITHERY_KEY}}\",\n        \"--profile\",\n        \"{{SMITHERY_PROFILE}}\"\n      ],\n      \"internalTest\": {\n        \"command\": \"node\",\n        \"args\": [\n          \"mcp-server/v1/build/index.js\"\n        ]\n      }\n    }\n  }\n}",
        "mcpServerEnvs": "",
        "sessionId": "example_02_nodejs",
        "timeout": 30000,
        "x": 390,
        "y": 900,
        "wires": [
            [
                "657091541f410824",
                "ec8c980573ddaa26"
            ]
        ]
    },
    {
        "id": "4633158e04d6378d",
        "type": "inject",
        "z": "add2fb3d3da878db",
        "g": "96b2d8d0396e080c",
        "name": "List Tools",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "What can you do?",
        "payloadType": "str",
        "x": 120,
        "y": 820,
        "wires": [
            [
                "ee19162aa7cb17d1"
            ]
        ]
    },
    {
        "id": "cd3dd493cb8daa0a",
        "type": "inject",
        "z": "add2fb3d3da878db",
        "g": "96b2d8d0396e080c",
        "name": "Hello World Test",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "show hello world message",
        "payloadType": "str",
        "x": 140,
        "y": 1040,
        "wires": [
            [
                "ee19162aa7cb17d1"
            ]
        ]
    },
    {
        "id": "633e547c7935f356",
        "type": "inject",
        "z": "add2fb3d3da878db",
        "g": "96b2d8d0396e080c",
        "name": "Local Time",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Tell the time",
        "payloadType": "str",
        "x": 160,
        "y": 1100,
        "wires": [
            [
                "ee19162aa7cb17d1"
            ]
        ]
    },
    {
        "id": "672b1ecd7383b906",
        "type": "inject",
        "z": "add2fb3d3da878db",
        "g": "96b2d8d0396e080c",
        "name": "Weather",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "What is the weather in São Paulo?",
        "payloadType": "str",
        "x": 160,
        "y": 1160,
        "wires": [
            [
                "ee19162aa7cb17d1"
            ]
        ]
    },
    {
        "id": "dedecc77b3b90893",
        "type": "comment",
        "z": "add2fb3d3da878db",
        "g": "96b2d8d0396e080c",
        "name": "Internal MCP Tools",
        "info": "",
        "x": 130,
        "y": 1000,
        "wires": []
    },
    {
        "id": "53b3413b43c73c19",
        "type": "comment",
        "z": "add2fb3d3da878db",
        "g": "96b2d8d0396e080c",
        "name": "Exa Search Tools",
        "info": "",
        "x": 120,
        "y": 880,
        "wires": []
    }
]