node-red-docker/node_red_data/flows.json
[
    {
        "id": "add2fb3d3da878db",
        "type": "tab",
        "label": "MCP Test",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9f8842fb42f0f3b4",
        "type": "tab",
        "label": "Google Drive MCP",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "da382eafdce47681",
        "type": "group",
        "z": "add2fb3d3da878db",
        "name": "Internal MCP test",
        "style": {
            "label": true
        },
        "nodes": [
            "2aebae765c66249f",
            "46aecd174edb19f9",
            "67126c379f936438",
            "863d1fb94f8132a9",
            "d04f8a5861577323",
            "63817772837130d6",
            "60c4c6d2af265a8e"
        ],
        "x": 14,
        "y": 139,
        "w": 692,
        "h": 262
    },
    {
        "id": "ad6f87565d35de39",
        "type": "group",
        "z": "add2fb3d3da878db",
        "name": "Remote MCP test",
        "style": {
            "label": true
        },
        "nodes": [
            "24a9f6c6010c2128",
            "1be09b3a241d1c0f",
            "8c7f43f4b7f55a29",
            "cd79eab7bf1a688d",
            "680ea7b2c37c1103",
            "84580a7095f76f2f"
        ],
        "x": 14,
        "y": 459,
        "w": 712,
        "h": 242
    },
    {
        "id": "decaf0cba00b6ccf",
        "type": "group",
        "z": "9f8842fb42f0f3b4",
        "name": "Google Drive",
        "style": {
            "label": true
        },
        "nodes": [
            "d8dab20af9243ece",
            "8fcae9b75a2d7fbb",
            "e898bd733213de96",
            "92f913ba31d820d6",
            "4ba2728bf2397681",
            "5c0d04c11b384944",
            "1c095a9db011c59a",
            "f5695fdce35bbc15"
        ],
        "x": 34,
        "y": 119,
        "w": 902,
        "h": 322
    },
    {
        "id": "2aebae765c66249f",
        "type": "inject",
        "z": "add2fb3d3da878db",
        "g": "da382eafdce47681",
        "name": "Hello World Test",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "show hello world message",
        "payloadType": "str",
        "x": 140,
        "y": 240,
        "wires": [
            [
                "60c4c6d2af265a8e"
            ]
        ]
    },
    {
        "id": "46aecd174edb19f9",
        "type": "inject",
        "z": "add2fb3d3da878db",
        "g": "da382eafdce47681",
        "name": "List Tools",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Which tools are available and what can you do? ",
        "payloadType": "str",
        "x": 120,
        "y": 180,
        "wires": [
            [
                "60c4c6d2af265a8e"
            ]
        ]
    },
    {
        "id": "67126c379f936438",
        "type": "debug",
        "z": "add2fb3d3da878db",
        "g": "da382eafdce47681",
        "name": "Response",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 200,
        "wires": []
    },
    {
        "id": "863d1fb94f8132a9",
        "type": "debug",
        "z": "add2fb3d3da878db",
        "g": "da382eafdce47681",
        "name": "MCP Details",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "mcpResult",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 280,
        "wires": []
    },
    {
        "id": "d04f8a5861577323",
        "type": "inject",
        "z": "add2fb3d3da878db",
        "g": "da382eafdce47681",
        "name": "Local Time",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Tell the time",
        "payloadType": "str",
        "x": 120,
        "y": 300,
        "wires": [
            [
                "60c4c6d2af265a8e"
            ]
        ]
    },
    {
        "id": "63817772837130d6",
        "type": "inject",
        "z": "add2fb3d3da878db",
        "g": "da382eafdce47681",
        "name": "Weather",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "What is the weather in São Paulo?",
        "payloadType": "str",
        "x": 120,
        "y": 360,
        "wires": [
            [
                "60c4c6d2af265a8e"
            ]
        ]
    },
    {
        "id": "24a9f6c6010c2128",
        "type": "inject",
        "z": "add2fb3d3da878db",
        "g": "ad6f87565d35de39",
        "name": "Search Web",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "The latest news about Brazilian football and Corinthians",
        "payloadType": "str",
        "x": 150,
        "y": 660,
        "wires": [
            [
                "cd79eab7bf1a688d"
            ]
        ]
    },
    {
        "id": "1be09b3a241d1c0f",
        "type": "debug",
        "z": "add2fb3d3da878db",
        "g": "ad6f87565d35de39",
        "name": "Response",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 540,
        "wires": []
    },
    {
        "id": "8c7f43f4b7f55a29",
        "type": "debug",
        "z": "add2fb3d3da878db",
        "g": "ad6f87565d35de39",
        "name": "MCP Details",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "mcpResult",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 620,
        "wires": []
    },
    {
        "id": "60c4c6d2af265a8e",
        "type": "mcp-tools",
        "z": "add2fb3d3da878db",
        "g": "da382eafdce47681",
        "name": "mcp-tools NodeJS",
        "serverUrl": "http://mcp-host:3000",
        "prompt": "",
        "apiKey": "{{OPENAI_API_KEY}}",
        "mcpServerCommand": "node",
        "mcpServerArgs": "../mcp-server-demo/build/index.js",
        "mcpServerEnvs": "",
        "sessionId": "example_02_nodejs",
        "timeout": 30000,
        "x": 390,
        "y": 240,
        "wires": [
            [
                "67126c379f936438",
                "863d1fb94f8132a9"
            ]
        ]
    },
    {
        "id": "cd79eab7bf1a688d",
        "type": "mcp-tools",
        "z": "add2fb3d3da878db",
        "g": "ad6f87565d35de39",
        "name": "mcp-tools NodeJS",
        "serverUrl": "http://mcp-host:3000",
        "prompt": "",
        "apiKey": "",
        "mcpServerCommand": "npx",
        "mcpServerArgs": "-y, @smithery/cli@latest, run, exa, --key, {{API_KEY}}{{API_KEY}}, --profile, {{PROFILE_NAME}}{{PROFILE_NAME}}-example-aaaa",
        "sessionId": "example_02_nodejs",
        "timeout": 30000,
        "x": 390,
        "y": 580,
        "wires": [
            [
                "1be09b3a241d1c0f",
                "8c7f43f4b7f55a29"
            ]
        ]
    },
    {
        "id": "680ea7b2c37c1103",
        "type": "inject",
        "z": "add2fb3d3da878db",
        "g": "ad6f87565d35de39",
        "name": "Check server health",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Check server health and connection status",
        "payloadType": "str",
        "x": 150,
        "y": 580,
        "wires": [
            [
                "cd79eab7bf1a688d"
            ]
        ]
    },
    {
        "id": "84580a7095f76f2f",
        "type": "inject",
        "z": "add2fb3d3da878db",
        "g": "ad6f87565d35de39",
        "name": "List Tools",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "What can you do?",
        "payloadType": "str",
        "x": 140,
        "y": 500,
        "wires": [
            [
                "cd79eab7bf1a688d"
            ]
        ]
    },
    {
        "id": "a8a28b0cd7891452",
        "type": "comment",
        "z": "add2fb3d3da878db",
        "name": "Readme (Click here)",
        "info": "## README (double-click here)\n\nFeel free to delete these flows — they are just examples.\n\nIf you're using Railway or another cloud provider, just paste the URL of the Node-RED MCP server **without the port**.\n\n**Example:**\n\nMCP HOST URL: https://name-mcp-server.up.railway.app\n\n",
        "x": 110,
        "y": 100,
        "wires": []
    },
    {
        "id": "d8dab20af9243ece",
        "type": "debug",
        "z": "9f8842fb42f0f3b4",
        "g": "decaf0cba00b6ccf",
        "name": "Response",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 260,
        "wires": []
    },
    {
        "id": "8fcae9b75a2d7fbb",
        "type": "debug",
        "z": "9f8842fb42f0f3b4",
        "g": "decaf0cba00b6ccf",
        "name": "MCP Details",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "mcpResult",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 360,
        "wires": []
    },
    {
        "id": "e898bd733213de96",
        "type": "inject",
        "z": "9f8842fb42f0f3b4",
        "g": "decaf0cba00b6ccf",
        "name": "Update Spreadsheet",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "update field {{id_field}} range Sheet1!A1 value Updated Line 2",
        "payloadType": "str",
        "x": 190,
        "y": 220,
        "wires": [
            [
                "f5695fdce35bbc15"
            ]
        ]
    },
    {
        "id": "92f913ba31d820d6",
        "type": "inject",
        "z": "9f8842fb42f0f3b4",
        "g": "decaf0cba00b6ccf",
        "name": "Read Spreadsheet Cell",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Read field {{id_field}} range Sheet1!A1 value",
        "payloadType": "str",
        "x": 200,
        "y": 280,
        "wires": [
            [
                "f5695fdce35bbc15"
            ]
        ]
    },
    {
        "id": "4ba2728bf2397681",
        "type": "inject",
        "z": "9f8842fb42f0f3b4",
        "g": "decaf0cba00b6ccf",
        "name": "List Tools",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "O que você pode fazer?",
        "payloadType": "str",
        "x": 210,
        "y": 160,
        "wires": [
            [
                "f5695fdce35bbc15"
            ]
        ]
    },
    {
        "id": "5c0d04c11b384944",
        "type": "inject",
        "z": "9f8842fb42f0f3b4",
        "g": "decaf0cba00b6ccf",
        "name": "Read Spreadsheet",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "I want to read data from spreadsheet {{id_field}}",
        "payloadType": "str",
        "x": 250,
        "y": 400,
        "wires": [
            [
                "f5695fdce35bbc15"
            ]
        ]
    },
    {
        "id": "1c095a9db011c59a",
        "type": "inject",
        "z": "9f8842fb42f0f3b4",
        "g": "decaf0cba00b6ccf",
        "name": "Read First Row of Spreadsheet",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Read field {{id_field}} first row values",
        "payloadType": "str",
        "x": 210,
        "y": 340,
        "wires": [
            [
                "f5695fdce35bbc15"
            ]
        ]
    },
    {
        "id": "f5695fdce35bbc15",
        "type": "mcp-tools",
        "z": "9f8842fb42f0f3b4",
        "g": "decaf0cba00b6ccf",
        "name": "mcp-tools NodeJS",
        "serverUrl": "http://mcp-host:3000",
        "prompt": "",
        "apiKey": "{{OPENAI_API_KEY}}",
        "mcpServerCommand": "node",
        "mcpServerArgs": "../mcp-server-demo/gdrive-mcp/build/index.js",
        "mcpServerEnvs": "{ \n\"GOOGLE_CLIENT_ID\": \"{{GOOGLE_CLIENT_ID}}\",\n \"GOOGLE_CLIENT_SECRET\": \"{{GOOGLE_CLIENT_SECRET}}\", \n \"GOOGLE_REFRESH_TOKEN\": \"{{GOOGLE_REFRESH_TOKEN}}\"\n}",
        "sessionId": "example_05_nodejs",
        "timeout": 30000,
        "x": 570,
        "y": 260,
        "wires": [
            [
                "d8dab20af9243ece",
                "8fcae9b75a2d7fbb"
            ]
        ]
    }
]